.wrapper {
  background: #00000066;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 40rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 1440px) {
  .wrapper {
    height: 40rem;
  }
}
