.chartWrapper {
  flex-grow: 1;
  height: 100%;
  overflow: hidden;
}

.chartWrapper > div {
  height: 100%;
}

.chartWrapper > div > div > div > svg {
  background: none !important;
}

.chartWrapper > div > div > div > svg > g:nth-child(2) {
  transform: translate(92%, 0) !important;
}

@media screen and (min-width: 1000px) {
  .chartWrapper > div > div > div > svg > g:nth-child(2) {
    transform: translate(97.5%, 0) !important;
  }
}
