.cornerBox {
  background: #00000033;
  border-top-left-radius: 1.5rem;
  height: 12rem;
  width: 12rem;
}

.flagsWrapper {
  padding: 1.5rem;
  position: relative;
}

.flagsWrapper > svg {
  position: absolute;
  top: 2.5rem;
}

.flagsWrapper > svg:first-child {
  left: 1.5rem;
}

.flagsWrapper > svg:nth-child(2) {
  left: 5.1rem;
  top: 3.8rem;
  z-index: 2;
}

.flagsWrapper > svg:nth-child(3) {
  right: 1.5rem;
}

.topBar {
  /* background: red; */
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
