.flagsWrapper {
  background: #11111133;
  border-top-left-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  position: relative;
  width: 12rem;
}

.flagsWrapper > svg:nth-child(2) {
  left: 5.1rem;
  position: absolute;
  top: 2.7rem;
  z-index: 2;
}

.header {
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

@media screen and (min-width: 1000px) {
  .flagsWrapper {
    background: none;
    width: unset;
  }

  .flagsWrapper > svg:first-child {
    margin-right: 0.5rem;
  }

  .flagsWrapper > svg:nth-child(odd) {
    height: 5.6rem;
  }

  .flagsWrapper > svg:nth-child(2) {
    left: 6.35rem;
    top: 3.5rem;
  }

  .header {
    align-items: center;
    background: #50505088;
    border-bottom: 1px solid #aaaaaa;
    display: flex;
  }
}
