.wrapper {
  display: grid;
  column-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 4rem;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    grid-area: 1 / 8 / 6 / 13;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0fr;
    height: 100%;
  }
}
