.masthead {
  background-image: radial-gradient(
      118.67% 151.15% at 50.36% 64.8%,
      var(--primary-alpha-30) 0%,
      var(--dark-base-alpha-30) 86.46%
    ),
    linear-gradient(var(--dark-base) 0%, var(--grey-1) 95.87%);
  height: 900px;
  padding-top: 11rem;
  position: relative;
}

.wrapper {
  color: var(--color-text-inverse);
  position: relative;
  text-align: center;
  z-index: 2;
}

@media only screen and (min-width: 768px) {
  .masthead {
    padding-top: 15rem;
  }
}
